{% extends 'ItechSupItechSisBundle::layout.html.twig' %}


{% block content%}
    <h1 class="block-title">Liste des étudiant de la session</h1>

    <table class="record_properties dropper">
    <caption>Listes des étudiants inscrits</caption>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
    </tr>
    {% for student in entity.students %}
    <tr class="draggable">
        <td> {{ student.name }}</td>
        <td>{{ student.surname }}</td>
    </tr>
    {% endfor %}
    </table>

    <table class="record_properties dropper">
        <caption>Listes des étudiants non inscrits</caption>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
        </tr>
        {% for student in students %}
            <tr class="draggable">
                <td> {{ student.name }}</td>
                <td>{{ student.surname }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('session') }}" class="new-entry button">
        Retour à la liste
    </a>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/itechsupitechsis/js/dragndrop.js') }}"></script>
    {% endblock %}

{% endblock %}
