{% extends 'ItechSupItechSisBundle::layout.html.twig' %}


{% block content%}
    <h1 class="block-title">Liste des étudiant de la session</h1>

    <form method="post" action="{{ path('session_enlist_update', {'id': entity.id }) }}">
        <input type="hidden" name="_method" value="put">
        <div id="box">
            <h3>Etudiants inscrits</h3>
            <select name="enlisted_student" id="swapSelect" multiple="multiple">
                {% for student in entity.students %}
                    <option value="{{ student.id }}">{{ student.name }} {{ student.surname }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="box">
            <button id="swapSelect_rightAll" class="button">>></button>
            <button id="swapSelect_rightSelected" class="button">></button>
            <button id="swapSelect_leftSelected" class="button"><</button>
            <button id="swapSelect_leftAll" class="button"><<</button>
        </div>

        <div id="box">
            <h3>Etudiants non inscrits</h3>
            <select name="unenlisted_student" id="swapSelect_unlist" multiple="multiple">
                {% for student in students %}
                    <option value="{{ student.id }}">{{ student.name }} {{ student.surname }}</option>
                {% endfor %}
            </select>
        </div>

        <input type="submit" class="new-entry button">
    </form>



    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="{{ asset('bundles/itechsupitechsis/js/swapselect.js') }}"></script>

        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('#swapSelect').swapselect();
            });
        </script>

    {% endblock %}

{% endblock %}
