{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Ajout d'un événement pour la session {{ entity.formation.title }}</h1>

    {{ form_row(form.startTime) }}
    {{ form_row(form.endTime) }}
    {{ form_row(form.title) }}
    {{ form_row(form.room) }}
    {{ form_row(form.teacher) }}

    <ul class="record_actions">
        <li>
        </li>
    </ul>
{% endblock %}