{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content%}
    <h1 class="block-title">Liste de session</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Début</th>
                <th>Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.startDate %}{{ entity.startDate|date('d-m-Y ') }}{% endif %}</td>
                <td>{% if entity.endDate %}{{ entity.endDate|date('d-m-Y') }}{% endif %}</td>
                <td>
                        <a href="{{ path('session_show', { 'id': entity.id }) }}"class="button">Voir</a>

                        <a href="{{ path('session_edit', { 'id': entity.id }) }}"class="button">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('session_new') }}" class="new-entry button">
        Créer une nouvelle entrée
    </a>
    {% endblock %}
