{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content%}
    <h1 class="block-title">Création de session</h1>

    <div id="form">
        {{ form_start(form)}}
        {{ form_errors(form) }}
        <div class="widget form-date-start">
            <div class="label">
                <label>Date de début</label>
            </div>
            {{ form_widget(form.startDate, {'attr': {'class': 'form-label'}}) }}
        </div>
        <div class="widget form-school">
            <div class="label">
                <label>Date de fin</label>
               </div>
            {{ form_widget(form.endDate, {'attr': {'class': 'form-label'}}) }}
        </div>
        <div class="widget form-school">
            <div class="label">
                <label>Nom de la formation</label>
            </div>
            {{ form_widget(form.formation, {'attr': {'class': ''}} ) }}
        </div>
        <div class="widget form-school">
            {{ form_widget(form.submit, {'attr': {'class': 'button update'}}) }}
        </div>
        <hr>
        {{ form_end(form)}}
    </div>

    <div class="record_actions">
        <a href="{{ path('formation') }}" class = "update button">
            Retour à la liste des sessions
        </a>
    </div>


{% endblock %}
