{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content%}
    <h1 class="block-title">Création de session</h1>

    {{ form_start(form)}}
    {{ form_errors(form) }}
    {{ form_row(form.startDate, {'attr': {'class': 'form-label'}}) }}
    {{ form_row(form.endDate, {'attr': {'class': 'form-label'}}) }}
    {{ form_row(form.formation, {'attr': {'class': ''}} ) }}
    {{ form_widget(form.submit, {'attr': {'class': ''}}) }}
    {{ form_end(form)}}

        <ul class="record_actions">
    <li>
        <a href="{{ path('session') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
