{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content%}
    <h1 class="block-title">Session</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entity.formation.title }}</td>
            </tr>
            <tr>
                <th>Début</th>
                <td>{{ entity.startDate|date('d-M-Y') }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ entity.endDate|date('d-M-Y') }}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    <a href="{{ path('session_edit', { 'id': entity.id }) }}"class="button">
                        Editer
                    </a>

                </td>
            </tr>
            <tr>
                <th>Lien</th>
                <td><a href="{{ path('session_event', { 'id': entity.id }) }}"class="button">
                        Ajouter un event à cette session
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    {{ form_widget(delete_form, {'attr': {'class': 'new-entry button'}}) }}
    <br>
    <br>
    <br>
    <br>
    <br>

    <a href="{{ path('session_enlist', { 'id': entity.id }) }}"class="new-entry button">
        Voir la liste des étudiants
    </a>

    <br>
    <br>
    <br>
    <br>
    <br>

    {% include 'ItechSupItechSisBundle::calendar.html.twig' with {'events': entity.events } %}


{% endblock %}
