{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content%}
    <h1 class="block-title">{{ entity.formation.title }} ( {{ entity.startDate|date('Y') }}/{{ entity.endDate|date('Y') }})</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Date de début</th>
                <td class="td-table">{{ entity.startDate|date('d-M-Y') }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td class="td-table">{{ entity.endDate|date('d-M-Y') }}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    <a href="{{ path('session_edit', { 'id': entity.id }) }}"class="button">
                        Editer
                    </a>

                </td>
            </tr>
            <tr>
                <th>Lien</th>
                <td><a href="{{ path('session_event', { 'id': entity.id }) }}"class="button">
                        Ajouter un event à cette session
                    </a>
                    {% if entity.formation == "" %}
                        {{ form(delete_form) }}
                    {% endif %}
                </td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('session_enlist', { 'id': entity.id }) }}"class="new-entry button">
        Voir la liste des étudiants
    </a>

    <div id="block-calendar">
        {% include 'ItechSupItechSisBundle::calendar.html.twig' with {'events': entity.events } %}
    </div>

    <h1>Liste des étudiants</h1>

    <ul>
        {% for student in entity.students %}
            <li class="li-session"><a href="{{ path('student_show', { 'id': entity.id }) }}">{{ student.name }} {{ student.surname }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
