{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content%}
    <h1 class="block-title">Session</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entity.formation.title }}</td>
            </tr>
            <tr>
                <th>Début</th>
                <td>{{ entity.startDate|date('d-M-Y') }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ entity.endDate|date('d-M-Y') }}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    <a href="{{ path('session_edit', { 'id': entity.id }) }}"class="button">
                        Editer
                    </a>
                    {{ form(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

    <table class="record_properties">
    <caption>Listes des étudiants inscrits</caption>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
    </tr>
    {% for student in entity.students %}
    <tr>
        <td> {{ student.name }}</td>
        <td>{{ student.surname }}</td>
    </tr>
    {% endfor %}
    </table>

    <table class="record_properties">
        <caption>Listes des étudiants non inscrits</caption>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
        </tr>
        {% for student in entity.students %}
            <tr>
                <td> {{ student.name }}</td>
                <td>{{ student.surname }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('session') }}" class="new-entry button">
        Retour à la liste
    </a>
{% endblock %}
