{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1 class="block-title">Liste des formations</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Session</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('formation_show', { 'id': entity.id }) }}">{{ entity.title  }}</a></td>
                <td>{{ entity.title }}</td>
                <td>
                    <a href="{{ path('formation_show', { 'id': entity.id }) }}" class="button">Afficher</a>
                    <a href="{{ path('formation_edit', { 'id': entity.id }) }}" class="button">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('formation_new') }}" class="new-entry button">
        Créer une nouvelle formation
    </a>
    {% endblock %}
