{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Création des formations</h1>

    <div id="form">

        {{ form_start(form)}}
        {{ form_errors(form) }}
        {{ form_widget(form.title,{ 'attr': {'placeholder': 'Nom de la formation', 'class':'form-label' }}) }}
        {{ form_widget(form.school, {'attr': {'class': 'form-label select'}}) }}
        {{ form_widget(form.submit, {'attr': {'label':'Mettre à jour','class': 'button update'}}) }}
        {{ form_end(form)}}

    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('formation') }}" class = "new-entry button">
            Retour à la liste des formations
        </a>
    </li>
</ul>
{% endblock %}
