{% extends 'ItechSupItechSisBundle::layout.html.twig' %}


{% block content %}
    <h1>Modification des informations de {{ entity.name  }} {{ entity.surname }}</h1>

    <div id="form">
        {{ form_start(edit_form)}}
        {{ form_errors(edit_form) }}
        <div class="widget">
            <div>
                <label>Nom</label>
            </div>
            {{ form_widget(edit_form.name, {'attr': {'class': 'form-label'}}) }}
        </div>
        <div class="widget">
            <div>
                <label>Prénom</label>
            </div>
            {{ form_widget(edit_form.surname, {'attr': {'class': 'form-label'}}) }}
        </div>
        <div class="widget">
            <div>
                <label>Formation</label>
            </div>
            {{ form_widget(edit_form.formation, {'attr':{'class':'form-label '}}) }}
        </div>
        <div class="widget">
            {{ form_widget(edit_form.submit,{'attr':{'class':'btn button '}} ) }}
        </div>
        <hr>
        {{ form_end(edit_form) }}
    </div>

    <a href="{{ path('student') }}"class="new-entry button">
        Retour à la liste des étudiants
    </a>
{% endblock %}
