{% extends 'ItechSupItechSisBundle::layout.html.twig' %}


{% block content %}
    <h1>Liste d'étudiants</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.surname }}
                <td>
                    <a href="{{ path('student_show', { 'id': entity.id }) }}" class="button">Afficher</a>
                    <a href="{{ path('student_edit', { 'id': entity.id }) }}" class="button">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_new') }}" class="new-entry button">
        Créer une nouvelle entrée
    </a>
    <a href="{{ path('student_signoffsheet', { 'id': entity.id }) }}">
        Preview SignOffSheet mensuel
    </a>
{% endblock %}
