{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content%}
    <h1>Student</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ entity.surname }}</td>
            </tr>
            <tr>
                <th>Actions</th>
                <td>
                    <a href="{{ path('student_edit', { 'id': entity.id }) }}"class="button">
                        Edit
                    </a>
                    {{ form(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('student') }}">
            Back to the list
        </a>
    </li>
    <li>

    </li>
    <li></li>
</ul>
{% endblock %}
