{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content%}
    <h1>Etudiants</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ entity.surname }}</td>
            </tr>
            <tr>
                <th>Session</th>
                <td>{{entity.session.formation.title }}</td>
            </tr>

            <tr>
                <th>Actions</th>
                <td>
                    <a href="{{ path('student_edit', { 'id': entity.id }) }}"class="button">
                        Edition
                    </a>
                    {{ form(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

    <table class="record_properties">
        <caption>Listes des events</caption>
        <tr>
            <th>titre</th>
        </tr>
        {% for event in entity.session.events %}
        <tr>
            <td>
                {{ event.title }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <ul class="record_actions">
        <li>
            <a href="{{ path('student') }}">
                Retour à la liste des étudiants
            </a>
        </li>
    </ul>
{% endblock %}
