{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block title %}Elève {{ entity.name ~ ' ' ~ entity.surname }}{% endblock %}

{% block content %}

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ entity.surname }}</td>
        </tr>
        <tr>
            <th>Formation</th>
            <td>{{ entity.formation.title }}</td>
        </tr>
        <tr>
            <th>Entreprise</th>
            <td>{{ entity.workplace }}</td>
        </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
    <a href="{{ path('student_edit', { 'id': entity.id }) }}" class="btn btn-default">Editer</a>
    <button type="submit" class="btn btn-default">Supprimer</button>
    <a href="{{ path('student') }}" class="btn btn-default">Retour</a>
    {{ form_end(delete_form) }}


    <div id="calendar" data-itech-events="/api/calendar/formation/{{ entity.formation.id }}"></div>

{% endblock %}
