{% extends 'base.html.twig' %}

{% block title %}Administration - GSI Formation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/itechsupitechsis/css/fullcalendar.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/itechsupitechsis/css/layout.css') }}" type="text/css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/itechsupitechsis/css/style.css') }}" type="text/css"/>
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/itechsupitechsis/js/lib/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/itechsupitechsis/js/lib/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/itechsupitechsis/js/fullcalendar.min.js') }}"></script>
    <script>

        $(document).ready(function() {
            data = $.parseJSON($('#calendar').attr('data-itech-events'));
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                defaultDate: '2015-02-12',
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: data
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div id="layout">
        <header>
            <a href="{{ path('default') }}">
                <img class="logo" src="{{ asset('bundles/itechsupitechsis/images/logo-itechsup1.png') }}">
            </a>
            <a class="path-right" href="{{ path('default') }}">
                <i class="home-logo fa fa-home fa-2x"></i>
                <p class="home-p">Accueil</p>
            </a>
        </header>

        <div id="menu">
            {% block menu %}
                <ul>
                    <li>
                        <a href="{{ path('formation') }}">
                            <p><i class="fa fa-pencil fa-2x"></i></p>
                            <p>Formations</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('session') }}">
                            <p><i class="fa fa-calendar fa-2x"></i></p>
                            <p>Sessions</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('student') }}">
                            <p><i class="fa fa-user fa-2x"></i></p>
                            <p>Etudiants</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('room') }}">
                            <p><i class="fa fa-university fa-2x"></i></p>
                            <p>Salles</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('teacher') }}">
                            <p><i class="fa fa-male fa-2x"></i></p>
                            <p>Profs</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('event') }}">
                            <p><i class="fa fa-book fa-2x"></i></p>
                            <p>Event</p>
                        </a>
                    </li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
