{% extends '::base.html.twig' %}

{% block title %}Administration - GSI Formation{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/itechsupitechsis/css/layout.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="layout">
        <header>LOGO</header>

        <div id="menu">
            {% block menu %}
                <ul>
                    <li onclick="location.href='javascript:default_link()'">
                        <p><i class="fa fa-home fa-3x"></i></p>
                        <p>Page d'accueil</p>
                    </li>
                    <li onclick="location.href='javascript:formation_link()'">
                        <p><i class="fa fa-pencil fa-3x"></i></p>
                        <p>Formations</p>
                    </li>
                    <li onclick="location.href='javascript:session_link()'">
                        <p><i class="fa fa-calendar fa-3x"></i></p>
                        <p>Sessions</p>
                    </li>
                    <li onclick="location.href='javascript:student_link()'">
                        <p><i class="fa fa-user fa-3x"></i></p>
                        <p>Etudiants</p>
                    </li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}
                <div class="block-title">
                    {% block blockTitleContent %}{% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function default_link(){
            location.href="{{ path('default')}}";
        }
        function student_link(){
            location.href="{{ path('student')}}";
        }
        function session_link(){
            location.href="{{ path('session')}}";
        }
        function formation_link(){
            location.href="{{ path('formation')}}";
        }
    </script>
{% endblock %}