{% extends 'base.html.twig' %}

{% block title %}Administration - GSI Formation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/itechsupitechsis/css/fullcalendar.css') }}" type="text/css"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/itechsupitechsis/css/style.css') }}" type="text/css"/>
    {{ parent() }}
{% endblock %}
{% block body %}
    <main>
        <header>
            <a class="logo" href="{{ path('default') }}">
                <img id="logo" src="{{ asset('bundles/itechsupitechsis/images/logo-itechsup1.png') }}">
            </a>
            <h1 id="title">{{ block('title') }}</h1>
            <a class="logo" href="{{ path('default') }}">
                <img id="logo" src="{{ asset('bundles/itechsupitechsis/images/logo-itechsup1.png') }}">
            </a>
        </header>

        <nav>
            {% block menu %}
                <ul>
                    <li>
                        <a href="{{ path('student') }}">
                            <p><i class="fa fa-cogs fa-2x"></i></p>
                            <p>Eleves</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('teacher') }}">
                            <p><i class="fa fa-cogs fa-2x"></i></p>
                            <p>Enseignants</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('formation') }}">
                            <p><i class="fa fa-cogs fa-2x"></i></p>
                            <p>Classes</p>
                        </a>
                    </li>
                    <li>
                        <p><i class="fa fa-cogs fa-2x"></i></p>
                        <p>Paramètres</p>
                        <ul>
                            <li>
                                <a href="{{ path('room') }}">
                                    <p><i class="fa fa-university fa-2x"></i></p>
                                    <p>Salles</p>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('formation') }}">
                                    <p><i class="fa fa-graduation-cap fa-2x"></i></p>
                                    <p>Cursus</p>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('school') }}">
                                    <p><i class="fa fa-building fa-2x"></i></p>
                                    <p>Ecoles</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endblock %}
        </nav>

        <section id="content">
            {% block content %}
            {% endblock %}
        </section>

    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/itechsupitechsis/js/lib/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/itechsupitechsis/js/lib/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/itechsupitechsis/js/fullcalendar.min.js') }}"></script>
    <script>
    <!-- TODO: Externalize dis shit -->
        $(document).ready(function() {
            var data = $('#calendar').attr('data-itech-events');
            if (data) {
                data = $.parseJSON(data);
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    defaultDate: '2015-02-12',
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    events: data
                });
            }
        });
    </script>
{% endblock %}
