{% extends 'base.html.twig' %}

{% block title %}Administration - GSI Formation{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/itechsupitechsis/css/layout.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="layout">
        <header>
            <a href="{{ path('default') }}">
                <p><i class="fa fa-home fa-2x"></i>Page d'accueil</p>
            </a>
        </header>

        <div id="menu">
            {% block menu %}
                <ul>
                    <li>
                        <a href="{{ path('formation') }}">
                            <p><i class="fa fa-pencil fa-2x"></i></p>
                            <p>Formations</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('session') }}">
                            <p><i class="fa fa-calendar fa-2x"></i></p>
                            <p>Sessions</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('student') }}">
                            <p><i class="fa fa-user fa-2x"></i></p>
                            <p>Etudiants</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('room') }}">
                            <p><i class="fa fa-bed fa-2x"></i></p>
                            <p>Salles</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('teacher') }}">
                            <p><i class="fa fa-bed fa-2x"></i></p>
                            <p>Profs</p>
                        </a>
                    </li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}
                <div class="block-title">
                    {% block blockTitleContent %}{% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}