{% extends '::base.html.twig' %}

{% block title %}Administration - GSI Formation{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/itechsupitechsis/css/layout.css') }}" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="layout">
        <header>LOGO</header>

        <div id="menu">
            {% block menu %}
                <ul>
                    <li>
                        <p><i class="fa fa-home fa-3x"></i></p>
                        <p><a href="{{ path('default')}}">Homepage</a></p>
                    </li>
                    <li>
                        <p><i class="fa fa-pencil fa-3x"></i></p>
                        <p><a href="{{ path('formation')}}">Formation</a></p>
                    </li>
                    <li>
                        <p><i class="fa fa-calendar fa-3x"></i></p>
                        <p><a href="{{ path('session')}}">Session</a></p>
                    </li>
                    <li>
                        <p><i class="fa fa-user fa-3x"></i></p>
                        <p><a href="{{ path('student')}}">Student</a></p>
                    </li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}