{% extends 'base.html.twig' %}

{% block title %}Administration - GSI Formation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {{ parent() }}
{% endblock %}
{% block body %}
    <main>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('default') }}">ItechSup</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('student') }}">Elèves</a></li>
                            <li><a href="{{ path('teacher') }}">Enseignants</a></li>
                            <li><a href="{{ path('formation') }}">Classes</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paramètres<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('room') }}">Salles</a></li>
                                    <li><a href="{{ path('formation') }}">Cursus</a></li>
                                    <li><a href="{{ path('school') }}">Ecoles</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>


        <section id="content">
            <div class="page-header">
                <h1 id="title">{{ block('title') }}</h1>
            </div>
            {% block content %}
            {% endblock %}
        </section>

    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
    <!-- TODO: Externalize dis shit -->
        $(document).ready(function() {
            var data = $('#calendar').attr('data-itech-events');
            if (data) {
                data = $.parseJSON(data);
                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    defaultDate: '2015-02-12',
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    events: data
                });
            }
        });
    </script>
{% endblock %}
