{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/itechsupitechsis/css/fullcalendar.css') }}" type="text/css"/>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/itechsupitechsis/js/lib/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/itechsupitechsis/js/lib/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/itechsupitechsis/js/fullcalendar.min.js') }}"></script>
    <script>

        $(document).ready(function() {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                defaultDate: '2015-02-12',
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                eventSources: ['{{ asset('bundles/itechsupitechsis/php/events.php') }}']
            });
        });
    </script>
{% endblock %}
{% block content %}

    <h1>Calendrier</h1>

    <div id='calendar'></div>

{% endblock %}