{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Création d'un professeur</h1>

    <div id="form">
        {{ form_start(form)}}
        {{ form_errors(form) }}
        <div class="widget">
            <div>
                <label>Nom complet du professeur</label>
            </div>
            {{ form_widget(form.fullName,{ 'attr': {'class':'form-label' }}) }}
        </div>
        <div class="widget">
            {{ form_widget(form.submit, {'attr': {'class': 'btn button'}}) }}
        </div>
        <hr>
        {{ form_end(form)}}
    </div>

    <a href="{{ path('teacher') }}"class ='new-entry button'>
        Retour à la liste des professeurs
    </a>
{% endblock %}
