{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Prof</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nom complet</th>
                <td>{{ entity.fullName }}</td>
            </tr>
        </tbody>
    </table>

    <table class="record_properties">
        <caption>Listes des events</caption>
        <tr>
            <th>Titre</th>
            <th>Session</th>
            <th>Salle</th>
            <th>Date de début</th>
            <th>Date de fin</th>
        </tr>
        {% for event in entity.events %}
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.session.formation.title }}</td>
            <td>{{ event.room.number }}</td>
            <td>{{ event.startTime|date('d-m-Y ') }}</td>
            <td>{{ event.endTime|date('d-m-Y ') }}</td>
        </tr>
        {% endfor %}
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('teacher') }}">
            Retour à la liste des profs
        </a>
    </li>
    <li>
        <a href="{{ path('teacher_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
