{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Edition des salles</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    <label>Numéro de la salle </label>
    {{ form_widget(edit_form.number) }}
    <label>Nombre de siège(s)</label>
    {{ form_widget(edit_form.seatsCount) }}
    <label>Nombre de pc </label>
    {{ form_widget(edit_form.computersCount) }}

    {{ form_end(edit_form)}}
        <ul class="record_actions">
    <li>
        <a href="{{ path('room') }}">
            Retour à la liste
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
