{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <div class="block-title">
    <h1>Liste de salles</h1>
    </div>

    <table class="records_list">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nombre de sièges</th>
                <th>Nombre d'ordinateurs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('room_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.number }}</td>
                <td>{{ entity.seatsCount }}</td>
                <td>{{ entity.computersCount }}</td>
                <td>
                        <a href="{{ path('room_show', { 'id': entity.id }) }}"class="button">show</a>

                        <a href="{{ path('room_edit', { 'id': entity.id }) }}"class="button">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('room_new') }}"class="new-entry button">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
