{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block title %}Création de salles{% endblock %}

{% block content %}
    <div id="form">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.number) }}
        {{ form_row(form.seatsCount) }}
        {{ form_row(form.computersCount) }}
        <button type="submit" class="btn btn-default">Créer</button>
        {{ form_end(form)}}
    </div>
{% endblock %}
