{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Salle</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Numéro</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>Nombre de sièges</th>
                <td>{{ entity.seatsCount }}</td>
            </tr>
            <tr>
                <th>Nombre d'ordinateurs</th>
                <td>{{ entity.computersCount }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('room') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('room_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
