{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block content %}
    <h1>Salle n°{{ entity.number }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nombre de sièges</th>
                <td>{{ entity.seatsCount }}</td>
            </tr>
            <tr>
                <th>Nombre d'ordinateurs</th>
                <td>{{ entity.computersCount }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">

        <li>
            <a href="{{ path('room_edit', { 'id': entity.id }) }}"class="new-entry button">
                Editer
            </a>
            <br>
            <br>
            <br>
            <br>
        </li>
        <li>
            <a href="{{ path('room') }}"class="new-entry button">
                Retour à la liste
            </a>
            <br>
            <br>
            <br>
            <br>
        </li>
        <li>{{ form_widget(delete_form, {'attr': {'class': 'new-entry button'}}) }}</li>

    <ul class="record_actions">
    <li>
        <a href="{{ path('room') }}">
            Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('room_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
    <li>
        {{ form(delete_form) }}
    </li>
</ul>
    </ul>

    <br>
    <br>
    <br>
    <br>

    {% include 'ItechSupItechSisBundle::calendar.html.twig' with {'events': entity.events } %}
{% endblock %}
