{% extends 'ItechSupItechSisBundle::layout.html.twig' %}

{% block title %}Ajouter un jour de fermeture{% endblock %}

{% block content %}
    <div id="form">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.reason) }}
        {{ form_row(form.closingDate) }}
        <button type="submit" class="btn btn-default">Créer</button>
        {{ form_end(form)}}
    </div>
{% endblock %}
